/*css for admin page begins*/
body{
  background-image: url('../images/tv-show.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
}
.container{
  height: 100vh;
  background-color: rgba(0, 156, 222, .25);
}
.admin{
  margin-top: .5rem;
  float:right;
  color: #FFFFFF;
  text-shadow: 3px 3px 3px rgb(0, 156, 222);
}
.teevote {
  padding-top: 1rem;
  color: rgb(219, 221, 221);
  text-shadow: 2px 2px 3px #FFFFFF;
}
.nav{
  margin-top: 11rem;
  background-color: rgb(0, 156, 222);
  overflow: hidden;
}
.nav>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: white;
  padding: .5rem .5rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav a:hover{
  background-color: white;
  color: #009cde;
}
.jumbotron{
  height: 20rem;
  padding-top: 6rem;
  background-color: rgb(219, 221, 221);
  text-align: center;
}
/*css for add pages begins*/
.jumbotron2{
  height: 30rem;
  padding-top: 6rem;
  background-color: rgb(219, 221, 221);
  text-align: center;
}
/*css for add entry begins*/
.jumbotron3{
  height: 39rem;
  padding-top: 6rem;
  background-color: rgb(219, 221, 221);
  text-align: center;
}
/*css for view graph begins*/
.morty{
  margin-top: .5rem;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 3px 3px 3px rgb(0, 156, 222);
}
