body {
  background-image: url('../images/got-poster.jpg');
  background-repeat: no-repeat;
  background-size: 78vw 78rem;
  background-position: center;
  background-color: rgb(10, 10, 10);
}
.graph-display {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.graph-display iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
iframe {
  width: 50rem;
  height: 31rem;
}
a {
  text-decoration: none;
}
.container {
  margin-top: 15rem;
  background-color: white;
  padding: 2em;
  height: 100%;
}
.header {
  opacity: 80%;
}
.teevote{
  color: rgb(0, 156, 222);
  text-shadow: 3px 3px 3px rgb(147, 146, 146);
  text-align: center;
}
.intro{
  text-align: center;
}
#index{
  margin-left: auto;
  margin-right: auto;
  width: 32.56rem;
}
img {
  height: 20rem;
  padding: 1rem;
}
